*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 45%;
    margin: 0 auto;
    padding: 12px;
    background-color: lightyellow;
}


.card-image-info{
    width: calc(100% / 3 - 3px); 
    position: relative;
    display: inline-block;

}

.card-image-info img{
    max-width: 100%;
}

.hide, .container-image:hover .first-image{
    display: none;
}

.container-image:hover .hide{
    display: block;
 
}
.discount{
    background-color: red;
    color: white;
    padding: 5px;

}

.badge{
    background-color: green;
    color: white;
    padding: 5px 3px;
}

.heart{
    position: absolute;
    background-color: white;
    padding:2px 12px;
    right:0;
    top:20px;
    font-size: 35px;
}

div.heart:hover {
    color:red;
}

.container-image{
    position: relative;
}

.container-badges{
    position: absolute;
    bottom: 20px;
    left:0;
}

.container-badges > span{
    display: inline-block;
}

.special-price{
    color: red;
}

.price{
    text-decoration: line-through;
}

.container-info-product span:first-child{
    font-size: small;

}

.container-info-product span:nth-child(3){
    font-size:medium;
    font-weight: bolder;
}
 /* HO PROVATO A FARLO RESPONSIVE

 .container-info-product h3{
    font-size: 2vmin;
    font-size: 1vmax;
}
     */